[Unit]
Description=Couchbase Exporter
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/path/to/couchbase_exporter \
        -web.listen-address :9191     \
        -web.telemetry-path /metrics  \
        -db.uri http://localhost:8091
Restart=on-failure

[Install]
WantedBy=multi-user.target
