[Unit]
Description=Couchbase Exporter
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
Type=notify
ExecStart=/path/to/couchbase_exporter \
        -web.listen-address changeme  \
        -web.telemetry-path changeme  \
        -db.uri             changeme  \
        -db.user            changeme  \
        -db.pwd             changeme
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target